/* colors */
$black: #000;
$white: #FFF;
$light-grey-3: #DEDEDE;
$light-grey-2: #CCC;
$light-grey-1: #AAA;
$grey: #777;
$dark-grey-1: #555;
$dark-grey-2: #434343;
$dark-grey-3: #222;
$link-color: #0062cb;

/* font families */
$serif: "Merriweather";
$sans-serif: "Open Sans";

/* font sizes */
$font-base: 1.6rem;
$font-small: 1.4rem;

$h1: 4rem;
$h2: 2.1rem;
$h3: 1.8rem;
$h4: 1.4rem;
$h5: 1.4rem;
$h6: 1.2rem;

/* screen sizes */
$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;
