
/*
    ===============================================================
    Navigation
    ===============================================================
*/

// Pagination (Aktuality)

.navigation.pagination {
    margin-top: 4rem;
    .screen-reader-text {
        display: none;
    }
    .nav-links {
        margin: 0 auto;
        .page-numbers {
            padding: 0 1rem;
            .fa-angle-right {
                // color: $dark-grey-2;
                padding-left: 0.5rem;
                margin-left: 0.3rem;
            }
            .fa-angle-left {
                // color: $dark-grey-2;
                padding-right: 1rem;
                margin-right: 0.3rem;
            }
            // @media (max-width: $screen-sm-max) {
            //   padding: 0 1.5rem;
            // }
        }
        .page-numbers.current {
            font-weight: bold;
        }
    }
}